{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Your cart - {{ parent() }}{% endblock %}

{% block app_body %}
    {% for product in session %}
        <ul>
            <li>{{ product.name }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.price }} €</li>
            <li><a href="{{ path('cart_delete', {'id': product.id}) }}" class="btn btn-warning">Delete from cart</a></li>
        </ul>
    {% endfor %}
    <p>Total : {{ total_price }} €</p>
    <p><a href="{{ path('cart_clear') }}" class="btn btn-danger">Clear the cart</a></p>
{% endblock %}